.button-career{
	border-radius: 0.5em;			/* increased border-radius */
	text-decoration: none;
	color: white;					/* changed text color to white */
	padding: 1em 3em;  				/* increased padding for a larger button */
	background-color: #329bd8;		/* changed background color to a nice blue */
	text-transform: uppercase;		/* made the text uppercase */
	font-weight: bold;				/* gave the text a bold look */
}

.button-career{
	border-radius: 0.5em;			/* increased border-radius */
	text-decoration: none;
	color: white;					/* changed text color to white */
	padding: 10px;  				/* increased padding for a larger button */
	background-color: #329bd8;		/* changed background color to a nice blue */
	text-transform: uppercase;		/* made the text uppercase */
	font-weight: bold;				/* gave the text a bold look */
    width: 350px;
}
.auto-style1 {
    width: 423px;
}
.col-name {
    border: 1px solid black;
    background-color:#f1f1f1
}
.bulletedlist td{
    border:1px solid green;
    height:50px;
    vertical-align:top;
}
.legend-table td{
    border: 1px solid black;
    text-align: justify;
}

body {
  margin: 30px;
}

.navbar {
  min-height: 50px;
}

.navbar-nav {
  padding-top: 10px;
  font-family: Tahoma;
  font-size: 20px;
}

.navbar-inverse {
    background-color: #03447E;
    border-color: #080808;
}

ul li {
    display:inline-block;
    text-align:justify;
    word-wrap: break-word;
}